/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0;
}

.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
}

code {
  font-size: 80%;
}

th {
	cursor:pointer;
}

button.btn.btn-light {
 width: 30px; 
 height: 30px;
    
}
.fas {
 width: 25px; 
 height: 25px;
}

.nrpp{
    font-size: 13px;
}

.button_edit {
    display: flex;
  justify-content: center;
  align-items: center;
}

.button_edit button {
    margin: 1%;
}