<header ng-include="'js/app/header.html'"></header>
<div class="container-fluid">
  <div class="row" style="margin-top: 70px">
    <div class="col-12">
      <div class="row mt-5">
        <div class="col-3 mx-auto">
         <h4 class="text-center mb-3"><i class="fas fa-edit fa-1x"></i> Editar usuario</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mx-auto">
               <div class="alert alert-success" role="alert" ng-show="(visualizar)">
                Usuario modificado correctamente.
            </div>
          <form name="userForm" ng-show="(!visualizar)">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid && !userForm.dni.$pristine }">
              <label>DNI</label>
              <input type="text" class="form-control" id="dni" name="dni" ng-model="dni" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/"
              />
              <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                Formato dni no valido
              </div>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" id="nombreusuario" name="nombreusuario" ng-model="nombreusuario" ng-required="true" />
              <div ng-show="!userForm.nombreusuario.$valid  && !userForm.nombreusuario.$pristine" class="alert alert-danger" role="alert">
                Nombre obligatorio
              </div>
            </div>
            <div class="form-group">
              <label>Primer apellido</label>
              <input type="text" class="form-control" id="ape1" name="ape1" ng-model="ape1" ng-required="true" />
              <div ng-show="!userForm.ape1.$valid && !userForm.ape1.$pristine" class="alert alert-danger" role="alert">
                Primer apellido obligatorio
              </div>
            </div>
            <div class="form-group">
              <label>Segundo apellido</label>
              <input type="text" class="form-control" id="ape2" name="ape2" ng-model="ape2" ng-required="true" />
              <div ng-show="!userForm.ape2.$valid && !userForm.ape2.$pristine" class="alert alert-danger" role="alert">
                Segundo apellido obligatorio
              </div>
            </div>
            <div class="form-group">
              <label>Login</label>
              <input type="text" class="form-control" id="login" name="login" ng-model="login" ng-required="true" />
              <div ng-show="!userForm.login.$valid && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                Login obligatorio
              </div>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                id="pass" name="pass" ng-model="pass" ng-minlength="3" ng-maxlength="10" ng-required="true" placeholder="Contraseña"/>
              <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                La longitud de la constraseña es demasiado corta
              </div>
              <div ng-show="userForm.pass.$error.maxlength" class="alert alert-danger" role="alert">
                La longitud de la constraseña es demasiado larga
              </div>
              <div ng-show="!userForm.pass.$valid" class="alert alert-danger" role="alert">
                La contraseña es obligatoria.
              </div>
            </div>
            <div class="form-group">
              <label>Tipo usuario</label>
              <input type="text" class="form-control" id="obj_tipoUsuario_desc" name="obj_tipoUsuario_desc" ng-model="obj_tipoUsuario_desc"
              />
            </div>
            <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Modificar usuario</button>
          </form>  
              <div class="alert alert-danger" role="alert" ng-show="(error)">
                Error al editar el usuario.
            </div>
            <button type="button" class="btn btn-primary btn-block mt-2" ng-click="volver()">Volver</button>

          
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>