<header ng-include="'js/app/header.html'"></header>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Productos disponibles</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-light" ng-click="resetOrder()">
                                <i class="fa fa-sync"></i>
                            </button>
                   <a href="carrito/carrito" class="btn btn-light fas fa-shopping-cart" role="button"></a>
                    
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                     
                    <div class="btn-group" style="width:400px;">
                        <p class="mt-2" style="width:200px;">Selecciona RPP: </p>
                        <select class="form-control" 
                                ng-change="update()" 
                                ng-model="rpp">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            
             <div class="row d-flex justify-content-between flex-wrap align-items-center">
                <nav aria-label="paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 2" href="producto/plist/{{rpp}}/1/{{order}}/{{align}}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 1" href="producto/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                        </li>
                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="producto/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages" href="producto/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="producto/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
          
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        
                        <th>
                            Descripción
                            <button type="button" class="btn btn-light" ng-click="ordena('desc', 'asc')">
                                <a class="fas fa-long-arrow-alt-up" ></a>

                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('desc', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Existencias
                            <button type="button" class="btn btn-light" ng-click="ordena('existencias', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('existencias', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Precio
                            <button type="button" class="btn btn-light" ng-click="ordena('precio', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('precio', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Foto
                            <button type="button" class="btn btn-light" ng-click="ordena('foto', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('foto', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Tipo de producto
                            <button type="button" class="btn btn-light" ng-click="ordena('id_tipoProducto', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('id_tipoProducto', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Operaciones
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxData">
                        <td>{{fila.desc}}</td>
                        <td>{{fila.existencias}}</td>
                        <td>{{fila.precio}}</td>
                        <td>{{fila.foto}}</td>
                    <td><a href="./tipoproducto/view/{{fila.obj_tipoProducto.id}}" >{{fila.obj_tipoProducto.desc}}</a></td>
                        <td>
                           <a href="producto/view/{{fila.id}}" class="btn btn-light fas fa-eye" role="button"></a>
                           <button type="button" ng-click="add(fila.id)" class="btn btn-light fas fa-plus"></button>
                           <button type="button" ng-click="reduce(fila.id)" class="btn btn-light fas fa-minus"></button>
                           <button type="button" class="btn btn-light icon" ng-click="carrito()" ng-disabled="cantidad===0">{{fila.cantidad}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>
